html {
  font-size: 62.5%;
}

:root {
  --color-black: #212529;
  --color-white: #f1f3f5;
  --color-black-lite: #343a40;
  --color-primary: #c92a2a;
  --color-primary-lite: #e03131;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 2rem;
  line-height: 1.5;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2rem;
  background-color: var(--color-black);
  color: var(--color-white);
}
.nav__links {
  display: flex;
  gap: 5rem;
  padding: 0;
}
.navbar__logo {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.nav__links > li {
  list-style: none;
  font-size: 1.7rem;
  letter-spacing: 1px;
  font-weight: 500;
}
/* .nav__container {
} */

/*  */
.hero {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 5rem;
  display: flex;
  height: 650px;
  align-items: center;
  justify-content: center;
}

.hero__bold {
  font-size: 9rem;
  font-weight: 800;
  letter-spacing: 2px;
}

.hero__text {
  text-align: center;
  max-width: 130rem;
}

.hero__para {
  margin: 0;
}
