html {
  font-size: 62.5%;
}

:root {
  --color-primary: #c92a2a;
  --color-primary-lite: #e03131;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 2rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  padding: 5rem;
  margin: 0 auto;
}

.navbar {
  background-color: #131515;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  display: inline-block;
  color: var(--color-primary);
  font-size: 2.3rem;
  padding: 1rem;
  cursor: pointer;
}

.navbar__list {
  font-size: 1.7rem;
  font-weight: 500;
  display: flex;
  gap: 3rem;
  margin: 0rem;
  padding: 0 2rem;
  align-items: center;
}

.navbar__item {
  list-style: none;
}

.navbar__item > a {
  color: #ddd;
  transition: all 0.2s;
}

.navbar__item > a:hover {
  color: #fff;
}

/*  */

.about {
  font-weight: 500;
  background-color: #131515;
  color: #eee;
}

.about__img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 4px solid #ddd;
}

.about__intro {
  display: block;
}

.about__para {
  margin: 0.8rem 0 2.8rem 0;
}

.about__btn{

}

/* BUTTON */
.btn {
  border: none;
  padding: 0.9rem 3rem;
  border-radius: 10rem;
  font-size: 1.8rem;
  color: #eee;
  transition: background 0.2s;
}

.btn--red {
  background-color: var(--color-primary);
}

.btn--red:hover {
  background-color: var(--color-primary-lite);
}
