/*
BLOCK: IMAGE 
ELEMENT: IMAGE__INPUT
MODIFIER: IMAGE-COLOUR (or) IMAGE--COLOUR
*/

.navbar {
  background-color: rgb(84, 167, 240);
}

/* .navbar__logo {
  display: inline-block;
} */

.navbar__img {
  height: 80px;
}
